html {
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif
}

.caffe-page{
    background-color: #bcbddc;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif
}

.lunch_page {
    background-color: #efedf5;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif
}

.caffe_plaka {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
  }

.top {
    background-color: #c3cdf1;
    position: relative;
    padding-top: 30px;
}

.columns {
    width: 45%;
    float: left;
}


.img_container {
    left: 30%;
    width: 300px; 
    height: 200px;
    position: relative;
    border: 1px solid black; /* Just for visualization */
  }

.athens {
        width: 100%;
        height: 100%;
        object-fit: cover; /* This ensures the image covers the entire container */
}

.list-left {
    width: 50%;
}

 .cafe-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cafe-list img {
    max-width: 150px;
    margin-right: 10px;
}

/* Your existing CSS rules */

/* Add these media queries */
@media screen and (max-width: 768px) {
    .columns {
        width: 100%;
        float: none;
    }

    .cafe-list {
        display: block;
        margin-bottom: 30px;
    }

    .cafe-list img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .cafe-list ul {
        padding-left: 0;
    }

    .img_container {
        width: 100%;
        height: auto;
    }
}

