html {
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif
}

body {
    margin: 0;
    padding: 0;
  }

.top {
    background-color: #c3cdf1;
    position: relative;
    padding-top: 30px;
}


.img_container {
    left: 30%;
    width: 300px; 
    height: 200px;
    position: relative;
    border: 1px solid black; /* Just for visualization */
    top: 100px;
  }

.athens {
        width: 100%;
        height: 100%;
        object-fit: cover; /* This ensures the image covers the entire container */
}

 .cafe-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cafe-list img {
    max-width: 150px;
    margin-right: 10px;
}
